<p id="notice"><%= notice %></p>

<p>
  <strong>Genre Name:</strong>
  <%= @genre.name %>
</p>

<br>
<h3>Songs:</h3>
<ul>
<% @genre.songs.each do |song| %>
    <p>
      <strong>Song Name:</strong>
      <%= song.name %>
    </p>

    <p>
      <strong>Artist Name:</strong>
      <%= link_to song.artist.name, song.artist if song.artist %>
    </p>
    <br>
  <%= end %>
</ul>

<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
