<p id="notice"><%= notice %></p>

<%= render partial: 'song_details', locals: {song: @song} %>

<!-- the below convention would work *if* our partial was called _song -->
<%#= render @song %>
<p>
  <strong>Genres:</strong>
  <%= @song.genres.collect{|g| g.name}.to_sentence %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
