<!DOCTYPE html>
<html>
<head>
  <title>PlaylisterApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>Menu</p>
<ul>
  <li>
    <%= link_to 'Songs', songs_path %>
  </li>
  <li>
    <%= link_to 'Genres', genres_path %>
  </li>
  <li>
   <%= link_to 'Artists', artists_path %>
  </li>
</ul>

<%= yield %>

</body>
</html>
